body{
  font-family: "Time", sans-serif;
  text-align: center;
  line-height: 200px;


}

a:visited{
  color: white;
}
a:hover {
  color: teal;
}
a {
  background-color: teal;
  background-size: 500px;
  line-height: 900px;
  font-size: 100px;
}
.English {
  background-color: skyblue;
  background-size: 500px;
  font-family: knockout;
  font-size: 500px;
  color: white;
  text-shadow: 5px 3px skyblue;
  /*border: 2px solid red;*/


}
.English:hover {

  animation-name: Englishrotatex;
  animation-duration: 2s;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

.image-1 {
  position:absolute;
  margin-top: 10px;
  z-index:-4;
}

.Box-1 {
  color: white;
  background-color: pink;

  height: 500px;


}
.Box-1:active {
  animation-name: Box-1animate;
  animation-duration: 20s;
  animation-timing-function: ease-in-out;
  animation-direction: alternate-reverse;

}

.Box-2 {
  background-color: lightgreen;
  margin-top: 200px;
  height: 500px;
  width: 5000px;

}
.Box-2:active {
  animation-name: Box-2animate;
  animation-duration: 20s;
  animation-timing-function: ease-in-out;
  animation-direction: alternate-reverse;

}
.Vietnamese {
  background-color: lightgreen;
  margin-bottom: 100px;


  height: 100px;
  width: 1920px;
  font-family: knockout;
  font-size: 150px;
  color: white;
  text-shadow: 5px 3px lightgreen;

}

.Vietnamese:hover {

    animation-name: Vietrotatex;
    animation-duration: 3s;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;


}
.Spanish {
  background-color: khaki;
  font-size: 150px;
  color: white;
  margin-top: 700px;

}

.Spanish:hover {
  animation-name: Spanishrotate;
  animation-duration: 2s;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;

}

@keyframes Englishrotatex {

  0%{
    transform: rotateX(0deg);
    background-color: skyblue;

  }

  100% {
    transform: rotateX(360deg);
    background-color: plum;

  }
}
@keyframes Box-1animate {
  0%{
    margin-right: 0%;


  }
  100%
  {margin-right: 100%;


  }

}
@keyframes Box-2animate {
  0%{
    margin-right: 0%;


  }
  100%{
    margin-right: 100%;

  }

}

@keyframes Vietrotatex {

  0%{
    transform: rotateY(0deg);
    text-transform: lowercase;

  }

  100% {
    transform: rotateY(180deg);
    text-transform: uppercase;

  }

}
@keyframes Spanishrotate {
  0% {
    transform: rotate3d(0,0,0,0deg);
  }
  100%{
    transform: rotate3d(0,1,10,180deg);
  }
}
h1 {
  text-shadow: 3px 4px gray;
  font-size: 300px;

}
h2:hover{
  animation-name: textrotate;
  animation-fill-mode: both;
  text-transform: inherit;
}
@keyframes textrotate {
  0%{ transform: scale(0);

  }
  100%{ transform: scale(10);

  }

}

h4:hover{

  text-shadow: 3px 4px gray;
  animation-name: textrotate;
  animation-fill-mode: both;
  text-transform: inherit;
}

h5{
  font-size: 300px;
  margin-top: 800px;
  text-shadow: 3px 4px gray;
}
